<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"> </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceConfig">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="behaviorRest">
          <webHttp helpEnabled="true" faultExceptionEnabled="true"/>
        </behavior>
        <behavior name="behavioBasic">
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>

      <service name="APIWcfRest.ImplementationPessoa" behaviorConfiguration="serviceConfig">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/APIWcfRest" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APIWcfRest.IPessoa"
                  behaviorConfiguration="behavioBasic" />
        <endpoint address="/rest"
                  binding="webHttpBinding"
                  contract="APIWcfRest.IPessoa"
                  behaviorConfiguration="behaviorRest" />

      </service>
    </services>
  </system.serviceModel>
</configuration>